#### Diff types of Printing ways

In [1]:
print("Hello World")

Hello World

In [2]:
print(f"welcome to My World")

welcome to My World

In [4]:
print(f"{'welcome to  my World'}")

welcome to  my World

In [6]:
print("{} {}".format("Hello","Motto"))

Hello Motto

In [13]:
a=10
b=20
print("addition of a+b: ",a+b)
print(f"addition of {a} & {b} is {a+b}")
print("addition of {}+{}={}".format(a,b,a+b))
print(f"addition of {x} and {y} is {x+y}".format(x=20,y=20)

SyntaxError: unexpected EOF while parsing (<ipython-input-13-c5a5c33a2d08>, line 6)

#### Type and Length Of the Data

In [14]:
a="Hrishi"
print(type(a))
print(len(a))

<class 'str'>
6

In [16]:
b=10
print(type(b))
print(len(b))

<class 'int'>

TypeError: object of type 'int' has no len()

In [17]:
c=10.2
print(type(c))

<class 'float'>

In [19]:
d=1,2,3,4,"rohit"
print(type(d))
print(len(d))

<class 'tuple'>
5

In [20]:
e=(1,2,3,4,"rohit")
print(type(e))
print(len(e))

<class 'tuple'>
5

In [21]:
e=[5,'rohit',6,"$",7,6]
print(type(e))
print(len(e))

<class 'list'>
6

In [22]:
e=[5,'rohit',6,$,7,6]
print(type(e))
print(len(e))

SyntaxError: invalid syntax (<ipython-input-22-5bfc587d18d2>, line 1)

In [24]:
f={1,2,5,3,2,14,1,5,9}
print(f)
print(type(f))
print(len(f))

{1, 2, 3, 5, 9, 14}
<class 'set'>
6

In [25]:
g=1,
print(type(g))
print(len(g))

<class 'tuple'>
1

In [27]:
h={"name":"rohit",1:2,1.5:3,"age":25}
print(type(h))
print(len(h))

<class 'dict'>
4

In [9]:
age=float(input("enter your age: "))
nationality=input("enter your nationality: ")
if age>=18:
    if nationality=="indian" or nationality=="Indian":
        print("eligible for voting")
    else:
        print("Not allowed for NRI")
else:
    print("Age Should be Greater Than 18 or equal to it")

enter your age: 12
enter your nationality: pak
Age Should be Greater Than 18 or equal to it

In [12]:
per=eval(input("enter Your Percentage: "))
if per>=80 and per<=100:
    print("Grade O")
elif per>=60 and per<=80:
    print("Grade A")
elif per>=40 and per<=60:
    print("Grade B")
elif per>=35 and per<=40:
    print("Grade C")
else:
    print("Your Are Fail")

enter Your Percentage: 32
Your Are Fail

#### Special operator
- special operator consists of identity and membership operator
- identity operator has is , is not
- membership operator has in , not in

#### Identity operator is, is not
- identity operator checks as per the memory location value
- it only supports variable, does not support sequential object

In [13]:
o="rohit"
m="rohit"
print(o is m)
print(m is o)
print(id(m)) 
print(id(m),"\n")

j="rohit"
g="r"
print(g is j)
print(id(j))
print(id(g),"\n")

p="rohit Shashikant garud"
l="rohit Shashikant garud"  #Does not Suppport string  with spaces
print(p is l)
print(id(p))
print(id (l),"\n")

i=1
k=1
print(i is k)
print(id (i))
print(id(k))

True
True
2319571580400
2319571580400

False
2319571580400
2319481174448

False
2319571791264
2319571791744

True
140704222033696
140704222033696

#### membership operator 
- membership operator check where the number or string is present in the sequence
- membership operator supports list, dictionary, tuples,sets

In [16]:
p=[1,2,"rohit","garud",1,2]
l="rohit" 
print("L in p: ",l in p,"\n")

k="garud"
print("K in p: ",k in p,"\n")

i="shashikant"
print("I in P: ",i in p,"\n")

e="s"
print("E in I: ",e in i)

L in p:  True

K in p:  True

I in P:  False

E in I:  True

In [17]:
lst=[1,2,3,"Rohit","Garud"]
i=1
print("i in lst: ",i in lst,"\n")

j="R"
print("j in lst: ",j in lst,"\n")

h="Rohit"
print("h in lst: ",h in lst,"\n")

i in lst:  True

j in lst:  False

h in lst:  True

In [20]:
tpl=(1,2,3,"Rohit")
p="Rohit"
print("P in tpl: ",p in tpl,"\n")

s=1
print("S in tpl: ",s in tpl,"\n")

a=1.2
print("a in tpl: ",a in tpl,"\n")

P in tpl:  True

S in tpl:  True

a in tpl:  False

In [21]:
#only key can be searched in identity operator
dct={"name":"rohit",1:2,"age":25,"name":"riddhi"}
print(dct)
p="name"
print("p in dct: ",p in dct,"\n")

l="rohit"
print("l in dct: ", l in dct,"\n")

m=2
print("m in dct: ",m in dct,"\n")

i=1
print("i in dct: ",i in dct)

{'name': 'riddhi', 1: 2, 'age': 25}
p in dct:  True

l in dct:  False

m in dct:  False

i in dct:  True

#### Data type:
- string = collection of character is called as string. Indexing, slicing allowded.  Strings are Immutable, ordered
- numbers=  can be integer 10, float 10.5, complex 10j.  Immutable
- tuple- Tuples are enclosed in round bracket. Tuples are hetrogenous ie (int,float,string). Empty tuple () just round bracket. Single element in tuple (1,) value followed by comma. Indexing, Slicing allowded. Ordered,Immutable.
- list- list are enclosed in [] square bracket. Can store Hetrogenous data. Indexing, Slicing, allowded. Muttable,ordered. Empty list[] just square brackets.
- dictionary- Follows keys and value pattern. Dictionary are enclosed in {} curly braces. Data is hetrogenous. Key should be unique and values can be repeated. Ordered, muttable. Indexing  and slicing not allowded. but indexing can be done by converting it to list and doing indexing.
- set- set are enclosed in {}curly braces. Sets does not allows duplicate values. Sets are unordered,immutable.indexing and slicing not allowded.

####  1)String
- String is  a collection of character.
- Single line String are enclosed in "",'' Single/ Double quote.
- Multiple line string are enclosed on """ """,''' ''' Single/ double triple quote
- String are immutable,ordered. 
- Indexing and slicing are allowded.

In [23]:
#Indexing and slicing
print("** Indexing and slicing")
a="rohit"
print(a)
print("Indexing a[1]:",a[1])
print("Indexing a[-1]:",a[-1])
print("Slicing a[2:-1]:",a[2:])
print("Slicing a[::-1]: ",a[::-1])      #reverse of String  #a[start:end-1:step]
print("Slicing a[-1::-1]: ",a[-1::-1],"\n")   #reverse of string


#concatenation
print("** Concatenation")
a="rohit"
b="garud"
print("1)",a+b)

#string along with integer using .format
age=25
name="Rohit Garud"
roll=433
a="My name is {} and roll {} and age is {}".format(name,roll,age)
print(f"My name is {name} and age is {age}")
print(a,"\n")



#string along with integer using .format
a=10
b="rohit"
print("2) My name is {} {}".format(b,a),"\n")


#length 
print("**Length")
# print(len(a))
print(len(b),"\n")

#type
print("**Data Type")
print(type(a))

** Indexing and slicing
rohit
Indexing a[1]: o
Indexing a[-1]: t
Slicing a[2:-1]: hit
Slicing a[::-1]:  tihor
Slicing a[-1::-1]:  tihor

** Concatenation
1) rohitgarud
My name is Rohit Garud and age is 25
My name is Rohit Garud and roll 433 and age is 25

2) My name is rohit 10

**Length
5

**Data Type
<class 'int'>

In [24]:
#Using membership operator in string
p="rohit Shashikant"
l="r"
print("l in p:",l in p,"\n")

t="rohit"
print("t in p:",t in p,"\n")

m="hit"
print("m in p:",m in p,"\n")

n="ht"
print("n in p: ",n in p,"\n")

l in p: True

t in p True

m in p: True

n in p:  False

#### Type Specific methods in string
- 1)find()    =find the first occurance of the element/item
- 2)replace() = replace the existing character/ word  with new word
- 3)count()   = count gives the total recurrence of the element
- 4)max()     =give the max alphabet from the string
- 5)min()     =min gives the min alphabet from the string. min does not works on the string which has spaces in between words
- 6)lower()   =converts whole string to lower case.
- 7)upper()   =converts whole string to upper case.
- 8)isalnum() =check whether string contains alphabet as well as numbers. gives result in boolean

In [25]:
n="Rohit Shashikant Garud"
print(n.find("h"))
print(n.rfind("h"))
print(n.find(n[7]))
print(n.replace("Rohit","Sonu"))
print(n.replace("a","@",2))  #it will only change first 2 a with @
print(n.count("h"))
print(n.count("Rohit"))
print(n.count(" "))
print(n.lower())
print(n.upper())
print(max(n))

n="RohitShashikantGarud"
print(min(n))
print(n.isalnum()) #isalnum,isalpha,min only works with without spaces
print(n.isalpha())
age=25
print("my name is {} and age is {}".format(p,age))
roll=433
print("My Name is {} and age is {} and roll no is {}".format(p,age,roll))

2
10
2
Sonu Shashikant Garud
Rohit Sh@shik@nt Garud
3
1
2
rohit shashikant garud
ROHIT SHASHIKANT GARUD
u
G
True
True
my name is rohit Shashikant and age is 25
My Name is rohit Shashikant and age is 25 and roll no is 433

#### 2)Numbers
- numbers can be integer 10
- numbers can be float 10.5
- number can be complex 10j real+imajinary

In [26]:
a=10
b=10.5
c=10j
d=10.5j
e=10+10.5j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

#### Numbers with identity operator
- identity operator only works with integer.
- identity operator does not works with Decimal,complex

In [28]:
print("**Integer/Whole Number")
a=10
b=10
print("a is b: ",a is b,"\n")

f="rohit"
u="rohit"
print("f is u: ",f is u,"\n")

c="Rohit"
print("c is f: ",c is f,"\n")

print("**Decimal/float number")
d=10.5    #identity does not works with float/decimal numbers,complex numbers
h=10.5
print(id(d))
print(id(h))
print("d is h: ",h is d,"\n")

print("**Complex Number")
r=1j
t=1j
print(r is t)     #identity does not works with Complex number

**Integer/Whole Number
a is b:  True

f is u:  True

c is f:  False

**Decimal/float number
2319577417520
2319577415920
d is h:  False

**Complex Number
False

#### 3)Tuples
- Tuples are enclosed in round brackets ().
- can hold heterogenous data inside tuple
- Empty tuple () just round bracket.
- Tuple with single element a=(1,)  or a=1,
- tuples are ordered,immutable.
- indexing and slicing is allowded.
- duplicate values/items are allowded in tuples.
- using indexing elements inside the tuple cant be changed but whole tuple can be changed

In [29]:
#- using indexing elements inside the tuple cant be changed but whole tuple can be changed
t=(1,2,3)
print(t[0])
# t[0]="111"  #here it will throw error tuple' object does not support item assignmen
print(t)

#but complete tuple can be changed
t=(44,55,66)
print(t)

1
(1, 2, 3)
(44, 55, 66)

In [ ]:
#Indexing and Slicing
tup=(1,2,3,1,"Rohit","Rohit")
print("**Indexing and Slicing")
print("Indexing tup[0]:       ",tup[0])
print("Indexing tup[-1]:      ",tup[-1])
print("Indexing tup[3]:       ",tup[3])
print("Slicing tup[0:3]:      ",tup[0:3])
print("Slicing tup[::-1]:     ",tup[::-1]) #reverse of tuple
print("Slicing tup[-1::-1]:   ",tup[-1::-1],"\n","\n")  #reverse of tuple


#Concatenation
print("**Concatenation")
tup=(1,2,3,1,"Rohit")
t=(11,12,13)
o=("Shashikant","Garud")
print(tup+t)
print(tup+o,"\n","\n")


#Repetation
print("**Repetation")
print(t*2)
print(tup*2,"\n","\n")


#Length ot tuple
print("**Length of Tuple")
print(len(t))tt
print(len(tup),"\n")

#data type
print("**Data Type")
print(type(t))
print(type(tup))